@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

#shop {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background-image: url('/src/assets/background/shop_bg.png');
      background-repeat: repeat;
      background-size:contain;
  
  }

.weapon-list {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
  color: white;
}

.weapon-list button {
  padding: 30px;
  /* display: flex;
  flex-direction: column; */
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.weapon-list button:hover + .hide {
  display: block;
  /* color: red; */
}

#shop-name {
  color: white;
  font-family: "MedievalSharp";
}